<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <!--<add name="UGRS_Subastas_Com" connectionString="Data Source=ANAYAR-PC;Initial Catalog=UGRS_Subastas_Com;User ID=sa;Password=Qualisys123" providerName="System.Data.SqlClient" />-->
    <!--<add name="UGRS_Subastas_Com" connectionString="Data Source=MARTINEZA;Initial Catalog=UGRS_Subastas_Com;User ID=sa;Password=qualisys123" providerName="System.Data.SqlClient" />-->
    <add name="UGRS_Subastas_Com" connectionString="Data Source=UNGAN01;Initial Catalog=UGRS_Subastas_Com_1_3_2;User ID=sa;Password=Qualisys123;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>

    <!--CREDENTIALS -->
    <add key="LicenseServer" value="170.30.2.250" />
    <add key="UserName" value="Indirecta2" />
    <add key="Password" value="sap123" />
     <!--dst_MSSQL2012, dst_MSSQL2014, dst_HANADB--> 
    <add key="DbServerType" value="dst_MSSQL2012" />
    <add key="SQLServer" value="UNGAN01" />
    <add key="SQLUserName" value="sa" />
    <add key="SQLPassword" value="Qualisys123" />
    <add key="DataBaseName" value="PROD_Pruebas_UGRS2" />
    <add key="Language" value="ln_English" />
    <add key="FullLog" value="true" />

    <!--CREDENTIALS --><!--
    <add key="LicenseServer" value="170.30.2.16" />
    <add key="UserName" value="manager" />
    <add key="Password" value="sap1234" />
    --><!-- dst_MSSQL2012, dst_MSSQL2014, dst_HANADB --><!--
    <add key="DbServerType" value="dst_MSSQL2012" />
    <add key="SQLServer" value="170.30.2.16" />
    <add key="SQLUserName" value="sa" />
    <add key="SQLPassword" value="Qualisys123" />
    <add key="DataBaseName" value="DemoMX2" />
    <add key="Language" value="ln_English" />
    <add key="FullLog" value="true" />-->

    <!--<add key="LicenseServer" value="ANAYAR-PC" />
    <add key="UserName" value="manager" />
    <add key="Password" value="sap1234" />
    --><!-- dst_MSSQL2012, dst_MSSQL2014, dst_HANADB --><!--
    <add key="DbServerType" value="dst_MSSQL2012" />
    <add key="SQLServer" value="ANAYAR-LAP\SAP" />
    <add key="SQLUserName" value="sa" />
    <add key="SQLPassword" value="Qualisys123" />
    <add key="DataBaseName" value="DemoMX2" />
    <add key="Language" value="ln_English" />
    <add key="FullLog" value="true" />-->
    
    <add key="AuctionsWarehouse" value="SUHE" />

  </appSettings>
</configuration>