<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="ContratoProd" value="6220e7ae-69b4-11e3-a8b7-109add4fad20" />
    <add key="UsuarioProd" value="QUALISYS" />
    <add key="PasswProd" value="Q#4l1sys" />

    <add key="Prueba" value="1" />
  </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="RecepcionCfdiPortBinding" />
                <binding name="RecepcionPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://timbrado.pade.mx:80/PadeServ/RecepcionCfdiService"
                binding="basicHttpBinding" bindingConfiguration="RecepcionCfdiPortBinding"
                contract="RecepcionCfdiService.RecepcionCfdi" name="RecepcionCfdiPort" />
            <endpoint address="http://www.pade.mx:80/PadeServ/RecepcionService"
                binding="basicHttpBinding" bindingConfiguration="RecepcionPortBinding"
                contract="RecepcionService.Recepcion" name="RecepcionPort" />
        </client>
    </system.serviceModel>

</configuration>