<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="locations" type="UGRS.Core.Auctions.Configurations.Sections.LocationSection, UGRS.Core.Auctions" />
    <section name="categories" type="UGRS.Core.Auctions.Configurations.Sections.CategorySection, UGRS.Core.Auctions" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="UGRS.Application.Auctions.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    
    <add name="UGRS_Subastas_Com" connectionString="Data Source=RINGSERV;Initial Catalog=UGRS_SUBASTA_PRod;User ID=sa;Password=ugr2018;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />

  <add name="Connection" connectionString="" /></connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="FullLog" value="True" />
    <!-- ACTIONS -->
    <add key="Location" value="HERMOSILLO" />
    <add key="AuctionsWarehouse" value="SUHE" />
    <add key="AuctionsSeriesName" value="SUHE" />
    <!--<add key="Location" value="SONORA_SUR" />
    <add key="AuctionsWarehouse" value="SUSS" />
    <add key="AuctionsSeriesName" value="SUSS" />-->
    
    <add key="Comission" value="0.025" />
    <add key="PreClosureTime" value="21" />
    <!-- ITEMS -->
    <add key="FoodChargeItem" value="A00000001" />
    <add key="CommissionItem" value="A00000138" />
    <add key="ThreePercent" value="A00000223" />
    <!-- FINANCIALS -->
    <add key="CostCenter" value="SU_HERMO" />
    <!--<add key="CostCenter" value="SU_OBREG" />-->
    <add key="DebitAccount" value="1070050001000" />
    <add key="CreditAccount" value="2040010004000" />
    <add key="GuidesAccount" value="2040010004000" />
    
    <add key="NoPaymmentGuides" value="SU_NPGUIA" />
    <!--<add key="NoPaymmentGuides" value="SU_NPGUIASS" />-->
    
    <!-- DEBUG -->
    <add key="TestMode" value="false" />
    <add key="ActiveSecurity" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  <add key="string" value="string"></add><add key="char" value="c"></add><add key="int" value="1"></add><add key="long" value="123456789"></add><add key="float" value="1.5"></add><add key="double" value="1.5"></add><add key="decimal" value="1.5"></add><add key="date" value="13/12/2017"></add><add key="bool" value="True"></add><add key="enum" value="ENUM_A"></add></appSettings>
  <userSettings>
    <UGRS.Application.Auctions.Properties.Settings>
      <setting name="gStrBatchPrinter" serializeAs="String">
        <value />
      </setting>
      <setting name="gStrUser" serializeAs="String">
        <value />
      </setting>
      <setting name="gStrReportPrinter" serializeAs="String">
        <value />
      </setting>
    </UGRS.Application.Auctions.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <!--AUCTION SECTIONS -->
  <categories>
    <add category="AUCTION" abbreviation="S" />
    <add category="DIRECT_TRADE" abbreviation="T" />
  </categories>
  <locations>
    <add location="HERMOSILLO" abbreviation="HMO" />
    <add location="SONORA_SUR" abbreviation="SUR" />
  </locations>
</configuration>