<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>

    <!--CREDENTIALS -->
    <add key="LicenseServer" value="170.30.2.250" />
    <add key="UserName" value="indirecta1" />
    <add key="Password" value="sap123" />
    <add key="DbServerType" value="dst_MSSQL2012" />
    <add key="SQLServer" value="UNGAN01" />
    <add key="SQLUserName" value="sa" />
    <add key="SQLPassword" value="Qualisys123" />
    <add key="DataBaseName" value="UGRS_TEST2" />
    <add key="Language" value="ln_English" />
    <add key="FullLog" value="True" />

  </appSettings>
</configuration>