<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>

    <!-- LOCATION -->
    <!--<add key="Location" value="HERMOSILLO" />-->
    <add key="Location" value="SONORA_SUR" />
    
    <!-- DISPLAY -->
    <add key="PortName" value="COM2" />
    <add key="BaudRate" value="9600" />
    <add key="DataBits" value="8" />
    <add key="Parity" value="0" />
    <add key="StopBits" value="1" />
    <add key="ReadTimeout" value="-1" />

    <!-- DISPLAY 1-->
    <add key="Display1_PortName" value="COM2" />
    <add key="Display1_BaudRate" value="9600" />
    <add key="Display1_DataBits" value="8" />
    <add key="Display1_Parity" value="0" />
    <add key="Display1_StopBits" value="1" />
    <add key="Display1_ReadTimeout" value="-1" />

    <!-- DISPLAY 2-->
    <add key="Display2_PortName" value="COM4" />
    <add key="Display2_BaudRate" value="9600" />
    <add key="Display2_DataBits" value="8" />
    <add key="Display2_Parity" value="0" />
    <add key="Display2_StopBits" value="1" />
    <add key="Display2_ReadTimeout" value="-1" />

    <!-- //GLOBAL-->
    <add key="ChannelName" value="Boards" />
    <add key="ChannelPort" value="8820" />

  </appSettings>

  <system.runtime.remoting>
    <application>
      <client>
        <!--You can replace localhost with your server ip address or host name-->
        <wellknown
           type="UGRS.Object.Boards.BoardsServerObject, UGRS.Object.Boards"
           url="http://localhost:8820/Boards"
              />
      </client>
      <channels>
        <channel
          name="Boards"
          ref="http"
          port="0">
          <clientProviders>
            <formatter ref="soap" />
          </clientProviders>
          <serverProviders>
            <formatter ref="soap" typeFilterLevel="Full" />
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>

</configuration>