<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.runtime.remoting>
    <application>
      <client>
        <!--You can replace localhost with your server ip address or host name-->
        <wellknown type="UGRS.Object.WeighingMachine.WeighingMachineServerObject, UGRS.Object.WeighingMachine" url="http://localhost:8810/WeighingMachine" />
      </client>
      <channels>
        <channel name="WeighingMachine" ref="http" port="0">
          <clientProviders>
            <formatter ref="soap" />
          </clientProviders>
          <serverProviders>
            <formatter ref="soap" typeFilterLevel="Full" />
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>

  <appSettings>
    <!-- WEIGHING MACHINE -->
    <add key="PortName" value="COM5" />
    <add key="BaudRate" value="2400" />
    <add key="DataBits" value="8" />
    <add key="Parity" value="0" />
    <add key="StopBits" value="1" />
    <add key="ReadTimeout" value="-1" />
  </appSettings>

</configuration>