<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--<add name="UGRS_Subastas_Com" connectionString="Data Source=RINGSERV;Initial Catalog=UGRS_SUBASTA_PRUEBA;User ID=sa;Password=ugr2018;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
    <add name="UGRS_Subastas_Com" connectionString="Data Source=RINGSERV;Initial Catalog=TEST;User ID=sa;Password=ugr2018;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <!--<add name="UGRS_Subastas_Com" connectionString="Data Source=192.168.17.83;Initial Catalog=UGRS_Subastas_Com_1_6_6;User ID=sa;Password=Ugrs8k1_2017;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--SERVICE -->
    <add key="IntervalTime" value="900000" />
    <!--CREDENTIALS -->
    <!--<add key="LicenseServer" value="170.30.2.70" />-->
    <add key="LicenseServer" value="192.168.17.83" />
    <add key="UserName" value="INDIRECTA" />
    <add key="Password" value="sap123" />
    <add key="DbServerType" value="dst_MSSQL2012" />
    <!--<add key="SQLServer" value="SAPB192PL10" />-->
    <add key="SQLServer" value="SAP" />
    <add key="SQLUserName" value="sa" />
    <!--<add key="SQLPassword" value="Qualisys123" />-->
    <add key="SQLPassword" value="Ugrs8k1_2017" />
    <add key="DataBaseName" value="UGRS_TEST" />
    <add key="Language" value="ln_English" />
    <!-- HMO CONFIG-->
    
     <!--WAREHOUSE--> 
    <add key="AuctionsWarehouse" value="SUHE" />
        <add key="FoodWarehouse" value="SUHE" />
     <!--SERIES--> 
    <add key="AuctionsSeriesName" value="SUHE" />
    <!--FINANCIAL-->
    <add key="CostCenter" value="SU_HERMO" />
    <add key="NoPaymmentGuidesAccount" value="SU_NPGUIA" />
    <add key="DebtorsAccount" value="SU_COMPRADOR" />
      <add key="CreditorsAccount" value="SU_VENDEDOR" />
      <add key="GuidesAccount" value="SU_GUIAS" />
      <add key="PaymentAccount" value="SU_VENDEDOR" />

    <!--_______________________________________________________________________-->

    <!--SS CONFIG-->
    <!-- WAREHOUSE -->
    <!--<add key="AuctionsWarehouse" value="SUSS" />
    <add key="FoodWarehouse" value="SUSS" />
    --><!-- SERIES --><!--
    <add key="AuctionsSeriesName" value="SUSS" />
    --><!--FINANCIAL--><!--
    <add key="CostCenter" value="SU_OBREG" />
    <add key="DebtorsAccount" value="SU_COMPRADORSS" />
    <add key="CreditorsAccount" value="SU_VENDEDORSS" />
    <add key="GuidesAccount" value="SU_GUIASS" />
    <add key="PaymentAccount" value="SU_VENDEDORSS" />
    <add key="NoPaymmentGuidesAccount" value="SU_NPGUIASS" />-->


    <!--____________________________________________________-->
    <add key="CorralsWarehouse" value="CRHE" />
    <add key="RejectionWarehouse" value="SUHER" />
    <add key="BusinessPartnerSeriesName" value="CL" />
    <!-- FOOD -->
    <add key="FoodItemCode" value="A00000001" />
    <add key="FoodItemPrice" value="5.600000" />
    <add key="FoodTaxCode" value="V0" />
    <!-- COMISSION -->
    <add key="ComissionItemCode" value="A00000128" />
    <add key="ComissionTaxCode" value="VE" />
    <!-- FINANCIALS -->
    <add key="ExtraDays" value="30" />
    <add key="CashPaymentMethod" value="01" />
    <add key="CreditPaymentMethod" value="01" />
    <add key="CashPaymentTerms" value="-1" />
    <add key="CreditPaymentTerms" value="1" />
    <add key="ThreePercent" value="CU_GLO_ITEMP3P" />
    <!-- SAP B1 -->
    <add key="AuctionsItemProperty" value="QryGroup19" />
    <!-- LOG -->
    <add key="FullLog" value="true" />
    <add key="ShowConsole" value="false" />
    <add key="SaveEventLog" value="false" />
    <add key="LogName" value="Auctions Service 1.0.0" />
    <add key="LogPath" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>