<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!-- WEIGHING MACHINE -->
    <add key="PortName" value="COM4" />
    <add key="BaudRate" value="2400" />
    <add key="DataBits" value="8" />
    <add key="Parity" value="0" />
    <add key="StopBits" value="1" />
    <add key="ReadTimeout" value="-1" />
	  <add key="FullLog" value="true"/>
    <!-- //GLOBAL-->
    <add key="VirtualMode" value="true" />
    <add key="ChannelName" value="WeighingMachine" />
    <add key="ChannelPort" value="8810" />
    <!-- //LOCATION-->
    <add key="Location" value="HERMOSILLO" />
  </appSettings>
  <system.runtime.remoting>
    <application name="WeighingMachineService">
      <service>
        <wellknown
            mode="Singleton"
            type="UGRS.Object.WeighingMachine.WeighingMachineServerObject, UGRS.Object.WeighingMachine"
            objectUri="WeighingMachine"
          />
      </service>
      <channels>
        <channel name="WeighingMachine" ref="http" port="8810">
          <serverProviders>
            <formatter ref="soap" typeFilterLevel="Full" />
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>