<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--<add name="UGRS_Subastas_Com" connectionString="Data Source=MARTINEZA;Initial Catalog=UGRS_Subastas_Com;User ID=sa;Password=qualisys123" providerName="System.Data.SqlClient" />-->
    <!--<add name="UGRS_Subastas_Com" connectionString="Data Source=UNGAN01;Initial Catalog=UGRS_Subastas_Com_1_0_0;User ID=sa;Password=Qualisys123" providerName="System.Data.SqlClient" />-->
    <!--<add name="UGRS_Subastas_Com" connectionString="Data Source=UNGAN01;Initial Catalog=UGRS_Subastas_Com;User ID=sa;Password=Qualisys123" providerName="System.Data.SqlClient" />-->
    <!--<add name="UGRS_Subastas_Com" connectionString="Data Source=UNGAN01;Initial Catalog=UGRS_Subastas_Com_1_3_2;User ID=sa;Password=Qualisys123" providerName="System.Data.SqlClient" />-->
    <!--<add name="UGRS_Subastas_Com" connectionString="Data Source=UNGAN01;Initial Catalog=UGRS_Subastas_Com_1_4_4;User ID=sa;Password=Qualisys123;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
    <!--<add name="UGRS_Subastas_Com" connectionString="Data Source=MARTINEZA2;Initial Catalog=UGRS_Subastas_Com_1_4_4;User ID=sa;Password=qualisys123;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
    <add name="UGRS_Subastas_Com" connectionString="Data Source=UNGAN01;Initial Catalog=UGRS_Subastas_Com_1_4_3;User ID=sa;Password=Qualisys123;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <!--<add name="UGRS_Subastas_Com" connectionString="Data Source=UNGAN01;Initial Catalog=UGRS_Subastas_Com_1_4_3;User ID=sa;Password=Qualisys123;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
    <add name="Connection" connectionString="" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <!--CREDENTIALS -->
    <add key="IntervalTime" value="900000" />
    <add key="FullLog" value="True" />
    <!--CREDENTIALS -->
    <add key="LicenseServer" value="170.30.2.70" />
    <add key="UserName" value="Indirecta2" />
    <add key="Password" value="sap123" />
    <add key="DbServerType" value="dst_MSSQL2012" />
    <add key="SQLServer" value="SAPB192PL10" />
    <add key="SQLUserName" value="sa" />
    <add key="SQLPassword" value="Qualisys123" />
    <add key="DataBaseName" value="UGRS_SAP_1_6_7" />
    <add key="Language" value="ln_English" />
    <!-- WAREHOUSE -->
    <add key="AuctionsWarehouse" value="SUHEG" />
    <add key="FoodWarehouse" value="SUHE" />
    <add key="CorralsWarehouse" value="CRHE" />
    <add key="RejectionWarehouse" value="SUHER" />
    <!-- SERIES -->
    <add key="AuctionsSeriesName" value="SUHE" />
    <add key="BusinessPartnerSeriesName" value="CL" />
    <!-- FOOD -->
    <add key="FoodItemCode" value="A00000001" />
    <add key="FoodItemPrice" value="5.600000" />
    <add key="FoodTaxCode" value="V0" />
    <!-- COMISSION -->
    <add key="ComissionItemCode" value="A00000138" />
    <add key="ComissionTaxCode" value="V0" />
    <!-- FINANCIALS -->
    <add key="ExtraDays" value="30" />
    <add key="PaymentMethod" value="01" />
    <add key="CostCenter" value="SU_HERMO" />
    <add key="DebtorsAccount" value="SU_COMPRADOR" />
    <add key="CreditorsAccount" value="SU_VENDEDOR" />
    <add key="GuidesAccount" value="SU_GUIAS" />
    <add key="PaymentAccount" value="SU_GUIAS" />
    <!-- SAP B1 -->
    <add key="AuctionsItemProperty" value="QryGroup24" />
    <add key="string" value="string">
    </add>
    <add key="char" value="c">
    </add>
    <add key="int" value="1">
    </add>
    <add key="long" value="123456789">
    </add>
    <add key="float" value="1.5">
    </add>
    <add key="double" value="1.5">
    </add>
    <add key="decimal" value="1.5">
    </add>
    <add key="date" value="13/12/2017">
    </add>
    <add key="bool" value="True">
    </add>
    <add key="enum" value="ENUM_A">
    </add>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>