<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <!--<add name="UGRS_Subastas_Com" connectionString="Data Source=ANAYAR-PC;Initial Catalog=UGRS_Subastas_Com;User ID=sa;Password=Qualisys123" providerName="System.Data.SqlClient" />-->
    <!--<add name="UGRS_Subastas_Com" connectionString="Data Source=MARTINEZA;Initial Catalog=UGRS_Subastas_Com;User ID=sa;Password=qualisys123" providerName="System.Data.SqlClient" />-->
    <!--<add name="UGRS_Subastas_Com" connectionString="Data Source=UNGAN01;Initial Catalog=UGRS_Subastas_Com_1_3_2;User ID=sa;Password=Qualisys123;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
    <!--<add name="UGRS_Subastas_Com" connectionString="Data Source=UNGAN01;Initial Catalog=UGRS_Subastas_Com_1_4_4;User ID=sa;Password=Qualisys123;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
    <!--<add name="UGRS_Subastas_Com" connectionString="Data Source=MARTINEZA2;Initial Catalog=UGRS_Subastas_Com_1_4_4;User ID=sa;Password=qualisys123;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
    <add name="UGRS_Subastas_Com" connectionString="Data Source=170.30.2.70;Initial Catalog=UGRS_Subastas_Com_1_6_6;User ID=sa;Password=Qualisys123;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <!--<add name="UGRS_Subastas_Com" connectionString="Data Source=DESKTOP-G0LAISH\SQLEX;Initial Catalog=UGRS_Subastas_Com_PROD;User ID=sa;Password=ugrs2018;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>