**/bin/*
**/obj/*
**.*.suo
**.v12.suo
**.rar
**.exe
**/Debug/*
**/Release/*
!**/DLL/*.dll
**/TestResults
**/packages/*
**.htm
*.txt
UGRS.AddOn.PurchaseInvoice/obj/*
UGRS.AddOn.Traslados/obj/*
UGRS.Application.Auction/obj/*
UGRS.Service.Auctions/obj/*
UGRS.Service.GPS/obj/*
UGRS.AddOn.PurchaseInvoice/bin/*
UGRS.AddOn.Traslados/bin/*
UGRS.Application.Auction/bin/*
UGRS.Service.Auctions/bin/*
UGRS.Service.GPS/bin/*
Setup1/Setup1.vdproj
test.srf
*.vdproj
UGRS.Reports/App.xaml
UGRS.Reports/App.xaml.cs
UGRS.Reports/CrystalReport1.cs
UGRS.Reports/CrystalReport1.rpt
UGRS.Reports/Properties/AssemblyInfo.cs
UGRS.Reports/Properties/Resources.Designer.cs
UGRS.Reports/Properties/Resources.resx
UGRS.Reports/Properties/Settings.Designer.cs
UGRS.Reports/Properties/Settings.settings
UGRS.Reports/UGRS.Reports.csproj
UGRS.Reports/UGRS.Reports.csproj.user
UGRS.Reports/Window1.xaml
UGRS.Reports/Window1.xaml.cs
