<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <appSettings>
    <!-- WEIGHING MACHINE -->
    <add key="PortName" value="COM11" />
    <add key="BaudRate" value="4600" />
    <add key="DataBits" value="8" />
    <add key="Parity" value="0" />
    <add key="StopBits" value="1" />
    <add key="ReadTimeout" value="-1" />
    <!-- //GLOBAL-->
    <add key="VirtualMode" value="false" />
    <add key="FullLog" value="true" />
  <add key="string" value="string"></add><add key="char" value="c"></add><add key="int" value="1"></add><add key="long" value="123456789"></add><add key="float" value="1.5"></add><add key="double" value="1.5"></add><add key="decimal" value="1.5"></add><add key="date" value="13/12/2017"></add><add key="bool" value="True"></add><add key="enum" value="ENUM_A"></add></appSettings>
  <system.runtime.remoting>
    <application>
      <client>
        <!--You can replace localhost with your server ip address or host name-->
        <wellknown type="UGRS.Object.WeighingMachine.WeighingMachineServerObject, UGRS.Object.WeighingMachine" url="http://localhost:8810/WeighingMachine" />
      </client>
      <channels>
        <channel name="WeighingMachine" ref="http" port="0">
          <clientProviders>
            <formatter ref="soap" />
          </clientProviders>
          <serverProviders>
            <formatter ref="soap" typeFilterLevel="Full" />
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
<connectionStrings>
    <add name="Connection" connectionString="" />
  </connectionStrings></configuration>